@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

.container {
  max-width: 1600px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.header {
  img {
    max-width: 100%;
  }
}
.header__head {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1.3%;
  left: 2%;
}
.header__head_logo {
  font-family: "Lato", sans-serif;
  .cab {
    display: flex;
    font-size: 40.4px;
    line-height: 1.2;
    font-weight: 900;
    color: #ffffff;
  }
  .cab p {
    color: #daa505;
  }
  .call {
    white-space: nowrap;
    font-size: 15.1px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
  }
}
.header__head_spacer {
}
.header__head_nav {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  ul {
    display: flex;
    li {
      padding: 10px;
      white-space: nowrap;
    }
  }
}
.header__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  position: absolute;
  top: 250px;
  left: 25%;
}
.header__center_number {
  white-space: nowrap;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 300%;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

.header__center_img {
  padding-top: 50px;
}
.book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc61a;
  max-width: 100%;
}
.book__container {
  max-width: 1200px;
  display: flex;
  padding-top: 15%;
  margin-bottom: 50px;
}
.book__description {
  max-width: 560px;
}
.book__description_text {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;

  .p1 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
    padding: 0 0 20px 0;
  }
  .p2 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #101010;
    padding: 0 0 30px 0;
  }
  .p3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #101010;
  }
}
.book__description_button {
  padding: 30px 0 0 0;

  a {
    font-family: "Bebas Neue", cursive;
    font-size: 29.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
  }
}
.book__input {
  width: 430px;
  height: 480px;
  background-color: #fff;
}
.book__input_header {
  background-color: #000;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 34.5px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 30px;
  p {
    color: #ffc61a;
    padding-left: 7px;
  }
}
.book__input_field {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.book__input_field_left {
  max-width: 50%;
  overflow: hidden;
  input {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #4b4b4b;
    outline: none;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 0;
    border-bottom: 3px solid #e4e4e4;
  }
}
.book__input_field_right {
  max-width: 50%;
  overflow: hidden;
  input {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #4b4b4b;
    outline: none;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 0;
    border-bottom: 3px solid #e4e4e4;
  }
}
.book__input_choose_menu {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #4b4b4b;
  outline: none;
  margin: 10px 10px;
  padding: 10px 10px;
  border: 0;
  border-bottom: 3px solid #e4e4e4;
  select {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #4b4b4b;
    border: 0;
    outline: none;
    option {
      font-family: "Lato", sans-serif;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      color: #4b4b4b;
    }
  }
}
.book__input_submit {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    font-family: "Bebas Neue", cursive;
    font-size: 29.6px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    min-width: 90%;
    outline: none;
    cursor: pointer;
  }
}
.tariffs {
  width: 100%;
  background-color: #fff;
}
.tariffs__header {
  margin-top: 50px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  p {
    font-family: "Lato", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
  }
}
.tariffs__container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  margin: 8%;
}
.tariffs__columns {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
.tariffs__columns_column {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f5f4f2;
  position: relative;
  padding-top: 15%;

  img {
    max-width: 100%;
    position: absolute;
    bottom: 80%;
  }
  .title {
    font-family: "Lato", sans-serif;
    font-size: 30.5px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
  }
  .text {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #101010;
  }
  .prise {
    font-family: "Lato", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffc61a;
  }
  .button {
    margin-top: 30px;
    a {
      font-family: "Bebas Neue", cursive;
      font-size: 29.6px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #ffc61a;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 10px;
      color: #000;
    }
  }
}
.tariffs__columns_column:hover {
  background-color: #ffc61a;
}
.tariffs__columns_column:hover > .prise {
  color: #000;
}
.tariffs__columns_column:hover > .button a {
  background: #000;
  color: #fff;
}

.wish {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    max-width: 100%;
  }
}

.wish__header {
  position: absolute;
  bottom: 70%;

  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  p {
    font-family: "Lato", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.wish__items {
  position: absolute;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  top: 40%;
  margin-left: 8%;
}
.wish__item {
  display: flex;
  max-width: 45%;
  margin-bottom: 5%;
}
.wish__item_icon {
  position: relative;
  background-color: #ffc61a;
  min-width: 81px;
  height: 81px;
  border-radius: 50%;
  img {
    position: absolute;
    top: 33.333%;
    left: 33.333%;
  }
}
.wish__item_text {
  padding-left: 5%;
  font-family: "Lato", sans-serif;
  h2 {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffc61a;
  }
  p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
  }
}
.wish__button {
  .button {
    position: absolute;
    top: 90%;
    left: 44%;
    a {
      font-family: "Bebas Neue", cursive;
      font-size: 29.6px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #ffc61a;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 10px;
      color: #000;
    }
  }
}
.download {
  max-height: 100%;
}
.download__header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  margin: 0 auto;
  p {
    font-family: "Lato", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
  }
}
.download__container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 4%;
  margin-bottom: 0%;
}
.download__block {
  max-width: 37%;
}
.download__block_text {
  h3 {
    font-family: "Lato", sans-serif;
    font-size: 25.5px;
    line-height: 1.2;
    font-weight: 900;
    color: #000000;
  }
  p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #101010;
    margin-top: 10%;
  }
}
.download__block_buttons {
  margin: 50px 0 0 0;
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
.download__image {
}
.clients {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  img {
    max-width: 100%;
  }
}
.clients__header {
  position: absolute;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
  top: 30px;
  left: 40%;
  p {
    font-family: "Lato", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.clients__reviews {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client__reveiws_item {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  background-color: #000000;
  border-radius: 20px;
}
.client__reviews_item_icon {
  img {
    border-radius: 50%;
  }
}
.client__reviews_item_text {
  text-align: center;
  font-family: "Lato", sans-serif;
  h2 {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffc61a;
  }
  p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
  }
}
.call24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 190px;
  background-color: #ffc61a;
  font-family: "Lato", sans-serif;

  h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
  }
  p {
    font-size: 76.7px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #000000;
  }
}
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.842);
  img {
    max-width: 100%;
    mix-blend-mode: darken;
  }
}
.footer__columns {
  display: flex;
  justify-content:space-around;
  position: absolute;
  max-width: 1200px;
  
  
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: auto;
  margin: 20px;
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.footer__column_underline {
  border: 4px solid #ffc61a;
  max-width: 100%;
}
.footer__column_text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.footer__column_icon {
}
.fa {
  color: #ffffff;
}
