@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap");

.container {
  max-width: 1600px;
  position: relative;
}
.header {
  img {
    max-width: 100%;
  }
}
.header__head {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 1.3%;
  left: 2%;
}
.header__head_logo {
  font-family: "Lato", sans-serif;
  .cab {
    display: flex;
    font-size: 40.4px;
    line-height: 1.2;
    font-weight: 900;
    color: #ffffff;
  }
  .cab p {
    color: #daa505;
  }
  .call {
    white-space: nowrap;
    font-size: 15.1px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
  }
}
.header__head_spacer{
width: ;
}
.header__head_nav {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  ul{
    display: flex;
    li{
      padding: 10px;
      white-space: nowrap;
    }
  }
}
.header__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  position: absolute;
  top:250px;
  left: 25%;
  
  
}
.header__center_number {
white-space: nowrap;
text-align: center;
font-family: "Lato", sans-serif;
font-size: 300%;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
color: #ffffff;

}

.header__center_img {
  padding-top: 50px;
  
}
.book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc61a;
  max-width: 100%;
  
}
.book__container{
  max-width:1200px;
  display: flex;
  padding-top: 15%;
  
}
.book__description {
  max-width: 560px;
  
  
}
.book__description_text {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  
  .p1{
font-size: 35px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
color: #000000;
  }
  .p2{
font-size: 50px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
color: #101010;
  }
  .p3{
font-size: 18px;
line-height: 1.2;
font-weight: 400;
color: #101010;
  }

}
.book__description_button {
}
.book__input {
  width: 430px;
  height: 480px;
  background-color: #fff;
}
